<!-- Login page -->

<form action="/login" method="POST">

<!-- Field1: username -->
<label for="username">Username:</label>
<input id="username" type="text" name="login[username]"/>

<!-- Field2: password -->
<label for="password">Password:</label>
<input id='password' type="password" name="login[password]"/>

<!-- Submit login information -->
<input type="submit" value="Login"/>

</form>